<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @discussion.username %>
</p>

<p>
  <strong>Titulo:</strong>
  <%= @discussion.titulo %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @discussion.comment %>
</p>

<%= link_to 'Edit', edit_discussion_path(@discussion) %> |
<%= link_to 'Back', discussions_path %>
